:root {
  --blue: #00b6ff;
  --darkBlue: #00b6ff;
  --grey: grey;
  --lightGrey: #e6e6e6;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
}

.App {
  font-family: sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 60px auto 60px;
  grid-template-areas:
    'header header header header'
    'main main main main'
    'footer footer footer footer';
}

.header {
  background-color: var(--blue);
  text-align: right;
  padding: 10px;

  grid-area: header;
}

.main {
  grid-area: main;
  display: flex;
}

.content {
  padding: 10px;
}

.infoButton {
  background-color: var(--blue);
  display: flex;
  padding: 10px;
  text-decoration: none;
  align-items: center;
}

.navPageLink {
  display: block;
  padding: 10px;
  background-color: var(--lightGrey);
}

.menu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: white;
}

.menuList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}

.menuListItem {
  padding: 10px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.footer {
  border: 1px solid var(--grey);
  border-bottom: 3px solid var(--blue);
  grid-area: footer;
}

.footerList {
  display: flex;
  height: 100%;
  align-items: center;
  overflow-y: scroll;
}

.footerListItem {
  padding: 10px;
  flex: 1;
  text-align: center;
  cursor: pointer;
}

.footerListItem + .footerListItem {
  border-left: 1px solid var(--grey);
}

.icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
}

.icon--close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.icon--info {
  margin-right: 10px;
}
